* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./Pictures/recipebackground.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

.pageTitle {
    padding: 30px 10px 30px 10px;
    text-align: center;
    color: #fffcfa;
    font-size: 3em;
    background-color: rgba(77, 30, 9, 0.5);
}

#searchBar {
    border: inset;
    border-color: rgba(77, 30, 9, 0.7);
    border-radius: 10px;
    background-color: rgba(234, 201, 151, 0.8);
    font-size: 1.1rem;
    text-align: center;
    width: 39%;
    margin: 40px 30% 10px 30%;
    padding: 5px 0;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: center;

    .recipeLink {
        text-decoration: none;
        color: rgb(23, 22, 21);

        .card {
            display: grid;
            grid-template-columns: 1fr;
            margin: 20px;

            .topPart {
                width: 280px;
                height: auto;
                border-radius: 15px 15px 0 0;
            }

            .infoPart {
                background-color: rgba(234, 201, 151, 0.9);
                text-align: center;
                display: 280px;
                height: 250px;
                border-radius: 0 0 15px 15px;
                padding: 10px;

                .title {
                    padding-bottom: 10px;
                }

                .origin {
                    font-style: italic;
                    font-size: 0.8em;
                    padding: 10px;
                }

                .description {}

                .preparation {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    .preparationDiv {
                        display: flex;
                        flex-direction: row;

                        .timerImg {
                            width: 20px;
                            padding-right: 5px;
                        }

                        .preparationTime {
                            font-weight: bold;
                            font-style: oblique;
                        }
                    }

                    .difficulty {}
                }
            }
        }
    }

    .card:hover {
        cursor: pointer;
        transform: scale(1.03);
        transition-duration: 0.6s;
        box-shadow: 10px 10px 15px 0px #463c2eb7;
        border-radius: 15px;
    }

    .card:not(:hover) {
        transform: scale(1);
        transition-duration: 0.6s;
    }
}

footer {
    display: grid;
    grid-row: span 2;
    padding: 20px;
    text-align: center;
    background-color: rgb(77, 30, 9);
    color: #fffcfa;
}

@media only screen and (max-width: 640px) {
    #searchBar {
        width: 49%;
        margin: 40px 25% 10px 25%;
    }

    main .recipeLink {
        .card {
            transform: scale(1.05);

            .infoPart {
                height: 100px;
                background-color: #eac997;

                .description {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    #searchBar {
        width: 99%;
        margin: 40px 0 10px 0;
    }
}