* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./Pictures/recipebackground.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

.pageTitle {
    margin: 40px 20px 30px 20px;
    text-align: center;
    color: #fffcfa;
    font-size: 3em;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: center;

    .recipeLink {
        text-decoration: none;
        color: rgb(23, 22, 21);

        .card {
            display: grid;
            grid-template-columns: 1fr;
            margin: 20px;

            .topPart {
                width: 280px;
                height: auto;
                border-radius: 15px 15px 0 0;
            }

            .infoPart {
                background-color: rgba(234, 201, 151, 0.9);
                text-align: center;
                display: 280px;
                height: 250px;
                border-radius: 0 0 15px 15px;
                padding: 10px;

                .title {
                    padding-bottom: 10px;
                }

                .origin {
                    font-style: italic;
                    font-size: 0.8em;
                    padding: 10px;
                }

                .description {}

                .preparation {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    .preparationTime {}

                    .difficulty {}
                }
            }
        }
    }

    .card:hover {
        cursor: pointer;
        transform: scale(1.03);
        transition-duration: 0.6s;
        box-shadow: 10px 10px 15px 0px #463c2eb7;
        border-radius: 15px;
    }
}

@media only screen and (max-width: 640px) {
    main .recipeLink {
        .card {
            transform: scale(1.05);

            .infoPart {
                height: 100px;
                background-color: #eac997;

                .description {
                    display: none;
                }
            }
        }
    }
}